.DS_Store
.dart_tool/

.packages
.pub/

build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*

GeneratedPluginRegistrant.java
Generated.xcconfig
GeneratedPluginRegistrant.h
GeneratedPluginRegistrant.m

local.properties

.flutter-plugins

*.log
*.g.dart
*.iml
.idea/
*.lock